
// Large tablet
@media only screen and (max-width: 1050px) {

}


// Smaller tablet
@media only screen and (max-width: 950px) {
  #slider-container {
    .slider-side {
      &.left {
        h2 {
          top:30px;
          }
      }
      &.right {
        .mines-overlay {
          top:30px;
          }
      }
    }
  }

}

// Small tablet
@media only screen and (max-width: 910px) {
    .navbar {
        &.special-feature {
          padding: 8px 20px;
          .brand {
            width:195px;
            background-position: 0 center;
          }
        }
    }
}


// Phones
@media only screen and (max-width: 710px) {
    .navbar {
      .special-feature-misc {
          display: none;
      }
    }
}
