@media only screen and (max-width: 1100px), (max-height: 860px) {
  #slider-container .slider-overlay .rock-art-regions-title {
    width: 310px;
    padding-top: 26px;
    left: 10%;

    .rock-art-regions-heading {
      .font-size(40);
    }

    .rock-art-regions-intro {
      .font-size(16);
    }
  }
}

@media only screen and (max-width: 750px) {
  .navbar.special-feature .special-feature-misc {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  #slider-container .slider-side {
    &.left h2, &.right .mines-overlay {
      top: 1%;
    }

    &.left h2 {
      left: 1%;
    }

    &.right .mines-overlay {
      right: 3%;
      width: 230px;
      text-align: right;
    }

    .slider-content {
      padding-top: 90px;
    }
  }

  #slider-container .slider-overlay .rock-art-regions-title {
    padding-top: 176px;

    .rock-art-regions-heading {
      .font-size(25);
    }

    .rock-art-regions-intro {
      .font-size(14);
    }
  }

  #about-modal {
    width: 300px;
    margin-left: -150px;

    .modal-header {
      h3 {
        .font-size(20);
      }

      .close {
        .font-size(24);
      }
    }

    .modal-body {
      h4 {
        .font-size(16);
      }

      p {
        .font-size(12);
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .navbar.special-feature .brand-center {
    width: 190px;
    background-position: left center;
  }
}

@media only screen and (max-width: 440px), (max-height: 660px) {
  #slider-container .slider-overlay .rock-art-regions-title {
    width: 270px;
    left: 50%;
    text-align: center;
    margin-left: -135px;
    padding-top: 260px;

    .rock-art-regions-heading {
      .font-size(22);
    }

    .rock-art-regions-intro {
      .font-size(14);
    }
  }
}