.navbar {
  background: #1b1b1b;

  &.special-feature {
    margin: 0;
  }
}

#slider-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;

  &.unselectable {
    .user-select(none);
  }

  .slider-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    h2 {
      text-transform: uppercase;
      position: absolute;
      font-style: italic;
      font-weight: 700;
      .font-size(24);
      line-height: .9;
    }

    .slider-content {
      position: relative;
    }

    &.left {
      background-color: #82b4d6;
      z-index: 2;
      width: 65%;
      .box-shadow(0 0 12px rgba(0,0,0,0.5),1px 0 0 rgba(0,0,0,0.2));

      h2 {
        width: 140px;
        top: 90px;
        left: 40px;
        color: white;
        margin-left: 20px;
      }
    }

    &.right {
      background: #e5e5e5 url('/images/mines-bg.png') 0 0 repeat;
      z-index: 1;

      .mines-overlay {
        position: absolute;
        width: 140px;
        top: 90px;
        right: 10px;

        h2 {
          position: relative;
          .opacity(20);
          margin-right: 20px;
        }

        h3 {
          .font-size(11);
          .opacity(30);
        }
      }
    }
  }

  .slider-side.inner {
    width: 100%;
  }

  .slider-handle {
    position: absolute;
    top: 40%;
    @radius: 49px;
    height: @radius;
    width: @radius;
    margin: (@radius / -2) 0 0 (@radius / -2);
    z-index: 4;
    cursor: col-resize;
    background-color: orange;
    .border-radius(999px);
    .box-shadow(0 2px 8px rgba(0,0,0,0.6));
    background: url('/images/slider.gif') center center no-repeat;
  }

  .slider-overlay {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .container {
      position: relative;
      height: 100%;
    }

    .rock-art-regions-title {
      color: black;
      position: absolute;
      width: 60%;
      left: 40px;
      top: 670px;
      .opacity(80);
      text-shadow:0 1px 0 rgba(255,255,255,0.4);

      h2.rock-art-regions-heading {
        .font-size(70);
        font-weight: 800;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: -.08em;
      }

      h3.rock-art-regions-intro {
        .font-size(18);
        line-height: 1.2;
      }
    }

    .map-legend {
      position: absolute;
      background: rgba(255, 255, 255, 0.6);
      height: 20px;
      padding: 12px;
      bottom: 0;
      left: 0;
      right: 0;
      .font-size(12);

      li {
        float: left;
        list-style: none;
        margin-right: 10px;
        font-weight: bold;
        background: transparent url('/images/legend-icons.png') no-repeat 0 2px;
        padding-left: 20px;

        &.mines {
          background-position-y:-51px;
        }

        &.pipes {
          background-position-y:-102px;
        }

        &.permits {
          background-position-y:-150px;
        }

        &.leases {
          background-position-y:-200px;
        }
      }

      .credits-and-sources {
        position: absolute;
        top:12px;
        right: 20px;
      }
    }
  }
}
.modal {
  padding: 20px;

  .close {
    .font-size(40);
  }

  .modal-body {
    padding-top: 0;
  }

  p, li {
    .font-size(12);
    line-height: 1.3;
  }

  li {
    margin-bottom: 4px;
  }
}