.navbar {
  background: #1b1b1b;

  &.special-feature {
    margin: 0;

    .brand {
      background-size: auto;
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white url('/images/spinner.gif') center center no-repeat;
  .box-shadow(inset 0 0 180px rgba(0,0,0,0.1));
  z-index: 20;
}

#slider-container {
  height: 886px;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  &.unselectable {
    .user-select(none);
  }

  .slider-side-inner {
    .box-sizing(border-box);
  }

  .slider-handle {
    position: absolute;
    top: 37%;
    @radius: 49px;
    height: @radius;
    width: @radius;
    margin: (@radius / -2) 0 0 (@radius / -2);
    z-index: 10;
    cursor: col-resize;
    background-color: orange;
    .border-radius(999px);
    .box-shadow(0 2px 8px rgba(0,0,0,0.6));
    background: url('/images/slider.gif') center center no-repeat;
  }
}

#slider-container .slider-side {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  h2 {
    text-transform: uppercase;
    position: absolute;
    font-style: italic;
    font-weight: 700;
    .font-size(24);
    line-height: .9;
  }

  .slider-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &.left {
    background-color: #82b4d6;
    z-index: 2;
    width: 50%;
    .box-shadow(0 0 12px rgba(0,0,0,0.5),1px 0 0 rgba(0,0,0,0.2));

    .rock-art-overlay {
      position: absolute;
      width: 155px;
      top: 5%;
      left: 2%;
      color: white;
      margin-left: 20px;
    }

    h2 {
      position: relative;
    }

    h3 {
      .font-size(12);
      line-height: 1.2;
      width: 140px;
    }
  }

  &.right {
    background: #e5e5e5 url('/images/mines-bg.png') 0 0 repeat;
    z-index: 1;

    .mines-overlay {
      position: absolute;
      width: 135px;
      top: 5%;
      right: 2%;
    }

    h2 {
      position: relative;
      .opacity(20);
    }

    h3 {
      .font-size(12);
      line-height: 1.2;
      .opacity(30);
      width: 130px;
    }
  }

  .map {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

#slider-container .slider-overlay {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;


  .slider-content {
    position: relative;
    margin: 0 auto;
  }

  .rock-art-regions-title {
    color: black;
    position: absolute;
    width: 544px;
    top: 73%;
    left: 5%;
    .opacity(80);
    margin-bottom: 80px;

    .rock-art-regions-heading {
      .font-size(70);
      font-weight: 800;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: -.08em;
    }

    .rock-art-regions-intro {
      .font-size(18);
      line-height: 1.2;

      a {
        color: black;
        text-decoration: underline;
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .map-legend {
    position: absolute;
    background: white;
    background: rgba(255, 255, 255, 0.6);
    height: 20px;
    padding: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    .font-size(12);
    z-index: 100;
    text-align: center;

    ul {
      width: 615px;
      margin: 0 auto;
    }

    li {
      float: left;
      list-style: none;
      margin-right: 10px;
      font-weight: bold;
      background: transparent url('/images/legend-icons.png') no-repeat 0 2px;
      padding-left: 20px;

      &.mines {
        background-position: 0 -51px;
      }

      &.pipes {
        background-position: 0 -102px;
      }

      &.permits {
        background-position: 0 -150px;
      }

      &.leases {
        background-position: 0 -200px;
      }
    }

    .credits-and-sources {
      background: none;
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid rgba(0,0,0,0.2);
    }
  }
}

.modal {
  padding: 20px;
  margin-left: -300px;

  .close {
    .font-size(40);
  }

  .modal-body {
    padding-top: 0;
  }

  p, li {
    .font-size(12);
    line-height: 1.5;
  }

  li {
    margin-bottom: 4px;
  }

  li > ul {
    margin-bottom: 14px;

    & > li {
      .font-size(11);
      margin-bottom: 0;
    }
  }

  li > h5 {
    .font-size(11);
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
  }
}

.lt-ie9 {
  h1,h2,h3,h4,h5,p,li, strong {
      font-family: arial, helvetica, sans-serif;
    }

    h2 {
      font-weight: bold;
    }
  #slider-container {



    .slider-handle {
      background: url('/images/slider.png') center center no-repeat;
    }
    .slider-overlay .rock-art-regions-title {
      padding-top: 46px;
      .rock-art-regions-heading {
        .font-size(40);
        font-family: arial;
        font-weight: bold;
      }
    }
  }
}