.navbar.special-feature {
  margin: 0;
}

#slider-container {
  width: 100%;
  position: relative;
  height: 886px;
  overflow: hidden;

  &.unselectable {
    .user-select(none);
  }

  .slider-side {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    h2 {
      text-transform: uppercase;
      position: absolute;
      width: 140px;
      font-style: italic;
      font-weight: 700;
      .font-size(24);
      line-height: .9;
      }



    &.left {
      background-color: #82b4d6;
      z-index: 2;
      width: 65%;
      .box-shadow(0 0 12px rgba(0,0,0,0.5),1px 0 0 rgba(0,0,0,0.2));

      h2 {
        top: 90px;
        left: 5%;
        color: white;
      }
    }

    &.right {
      background: #e5e5e5 url('/images/mines-bg.png') 0 0 repeat;
      z-index: 1;

      h2 {
        top: 90px;
        right: 5%;
        .opacity(20);
      }

      h3 {
        .font-size(11);
        font-style: italic;
        position: absolute;
        width: 140px;
        top: 160px;
        right: 5%;
        .opacity(30);
    }
    }
  }

  .slider-side.inner {
    width: 100%;
  }

  .slider-handle {
    position: absolute;
    top: 50%;
    @radius: 49px;
    height: @radius;
    width: @radius;
    margin: (@radius / -2) 0 0 (@radius / -2);
    z-index: 4;
    cursor: col-resize;
    background-color: orange;
    .border-radius(999px);
    .box-shadow(0 2px 8px rgba(0,0,0,0.6));
    background: url('/images/slider.png') center center no-repeat;
  }

  .slider-overlay {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .rock-art-regions-title {
      color: black;
      height: 20%;
      position: absolute;
      left:5%;
      top: 75%;
      .opacity(80);

      h2.rock-art-regions-heading {

        .font-size(70);
        font-weight: 800;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: -.08em;
      }

      h3.rock-art-regions-intro {
        .font-size(18);
      }
    }

    .map-legend {
      position: absolute;
      background: rgba(255, 255, 255, 0.6);
      height: 20px;
      padding: 12px;
      bottom: 0;
      left: 0;
      right: 0;

      .credits-and-sources {
        position: absolute;
        right: 20px;
      }
    }
  }
}